:root {
    --max-width: 1400px;
    --font-main: 'Roboto', sans-serif;
    --text-color-primary: #2d2e32;
    --text-color-secondary: #767676;

    --color-active: #147efb;

    --background-color-primary: #ffffff;
    --background-color-secondary: #f9f9f9;

    --inline-padding: 1rem;
    --inline-padding-desktop: 1.5rem;
}